# Helper: gitignore.io/api/node,windows,linux,macos,visualstudiocode

# Dependencies
node_modules/
jspm_packages/
.pnp/
.pnp.js

# Testing
coverage/
.nyc_output/

# Production
dist/
build/

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo
.project
.classpath
.settings/

# OS Generated
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Antek Async Specific
test_output.txt
.env
